[Unit]
Description=skpy
After=network-online.target firewalld.service 
Wants=network-online.target

[Service]
WorkingDirectory=/opt/my-apps/skpy
ExecStart=/opt/my-apps/skpy/skpy -l :21180
ExecReload=/bin/kill -s HUP $MAINPID


[Install]
WantedBy=multi-user.target
